.section-playlist{
    display:flex;
    flex-direction:column;
    margin-bottom:30px;
    
}
.playlist-section-heading{
    padding:15px 0 15px 0;
    text-transform:capitalize;
    font-size:22px;
}


.playlist-name{
display:grid;
justify-content:space-between;
overflow:hidden;
grid-gap:24px;
grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
/* flex-wrap: wrap; */
/* grid-auto-rows:0; */
/* grid-template-rows:auto; */
overflow: hidden;
}
@media (max-width:550px){
    .playlist-name{
display:grid;
justify-content:space-between;
overflow:hidden;
grid-gap:24px;
grid-template-columns: repeat(2,1fr);
/* flex-wrap: wrap; */
/* grid-auto-rows:0; */
/* grid-template-rows:auto; */
overflow: hidden;
}
}